body {
  background-color: #5888A6;
  margin: 0;
}
header {
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a4c2f4ff;
  width: 100%;
  text-align: center;
}

.h1 {
  font-size: 32px;
}

.p {
  font-size: 16px;
  font-family: arial;
}